body{
		font-family: Verdana, Geneva, sans-serif;
	}

	#box{
		width:200px;
		height: 200px;
		background-color: darkred;
		display:none;
		position: relative; 
	}

	.bold{
		font-weight: bold;
	}
	.content{
		background: rgba(255, 23, 80, 0.5);
		color: white;
		font-style: italic;
		display: inline-block;
	}